img{
	width: 100%;

}
body
{
	margin:0px;
	padding: 0px;
	overflow: hidden;
}
#side{
	position: fixed;
	right: 40px;
	top:50%;
	margin-top: -40px;
	z-index: 2;
}
div{
	margin-top: 0px;
	margin-bottom: 0px;
}
.picture{
	opacity: 0;
}
.circle{
	margin-bottom: 10px;
	width: 10px;
	height: 10px;
	border-radius: 6px;
	border: 1px #6291b4 solid;
	cursor: pointer;
}
/*.transparent{
	margin-bottom: 10px;
	width: 10px;
	height: 10px;
	border-radius: 6px;
	border: 1px #6291b4 solid;
	background-color: black;
}*/
@keyframes pic_show
{
	from {top:100%;}
	to {top:0px;}
}
@-webkit-keyframes pic_show /*Safari and Chrome*/
{
	from {top:100%;}
	to {top:0px;}
}
@keyframes pic_leave
{
	from {top:0px;}
	to {top:-100%;}
}
@-webkit-keyframes pic_leave 
{
	from {top:0px;}
	to {top:-100%;}
}
.pic_show1{
	width: 100%;
	height: 100%;
	margin:0px;
	-webkit-animation: pic_show1 1s ease-in-out;
	animation: pic_show1 1s ease-in-out;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}
@keyframes pic_show1
{
	from {top:-100%;}
	to {top:0px;}
}
@-webkit-keyframes pic_show1 /*Safari and Chrome*/
{
	from {top:-100%;}
	to {top:0px;}
}
.pic_leave1{
	width: 100%;
	height: 100%;
	margin:0px;
	-webkit-animation: pic_leave1 1s ease-in-out;
	animation: pic_leave1 1s ease-in-out;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}
@keyframes pic_leave1
{
	from {top:0px;}
	to {top:100%;}
}
@-webkit-keyframes pic_leave1 /*Safari and Chrome*/
{
	from {top:0px;}
	to {top:100%;}
}
.circle1{
	margin-bottom: 10px;
	width: 12px;
	height: 12px;
	border-radius: 6px;
	background-color: #6291b4;
}
#picture1{
	position:absolute;
	height: 100%;
	width: 100%;
	background-color: black;
	z-index: 1;
}
#picture2{
	position:absolute;
	height: 100%;
	width: 100%;
	background-color: orange;
}
#picture3{
	position:absolute;
	height: 100%;
	width: 100%;
	background-color: yellow;
}
#picture4{
	position:absolute;
	height: 100%;
	width: 100%;
	background-color: pink;
}
#picture5{
	position:absolute;
	height: 100%;
	width: 100%;
	background-color: blue;
}
#picture6{
	position:absolute;
	height: 100%;
	width: 100%;
	background-color: green;
}
.pic_show{
	width: 100%;
	height: 100%;
	margin:0px;
	-webkit-animation: pic_show 1s ease-in-out;
	animation: pic_show 1s ease-in-out;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}
.pic_leave{
	width: 100%;
	margin:0px;
	-webkit-animation: pic_leave 1s ease-in-out;
    animation: pic_leave 1s ease-in-out;
    animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}