body
{
	margin:0px;
	padding: 0px;
}
#side{
	position: fixed;
	left: 20px;
	top:50%;
	margin-top: -40px;
}
div{
	margin-top: 0px;
	margin-bottom: 0px;
}
.circle{
	margin-bottom: 10px;
	width: 10px;
	height: 10px;
	border-radius: 6px;
	border: 1px #6291b4 solid;
}
.transparent{
	margin-bottom: 10px;
	width: 10px;
	height: 10px;
	border-radius: 6px;
	border: 1px #6291b4 solid;
	background-color: black;
}
}
@keyframes pic_show
{
	from {top:0px;}
	to {top:100%;}
}
@-webkit-keyframes pic_show /*Safari and Chrome*/
{
	from {top:0px;}
	to {top:100%;}
}
/*@keyframes pic_leave
{
	from {top:-100%;}
	to {top:0px;}
}
@-webkit-keyframes pic_leave 
{
	from {top:0px;}
	to {top:-100%;}
}*/
.circle1{
	margin-bottom: 10px;
	width: 12px;
	height: 12px;
	border-radius: 6px;
	background-color: #6291b4;
}
#picture1 img,#picture2 img,#picture3 img,#picture4 img,#picture5 img,#picture6 img
{
	width: 100%;
	margin:0px;
}
.pic_show{
	width: 100%;
	height: 100%;
	margin:0px;
	-webkit-animation: pic_show 1s ease-in-out;
	animation: pic_show 1s ease-in-out;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}
/*.pic_leave{
	width: 100%;
	margin:0px;
	-webkit-animation: pic_leave 3s ease-in-out;
    animation: pic_leave 3s ease-in-out;
}*/